 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Genero2k19</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="style1.css">

  <link rel="stylesheet" type="text/css" href="assets/fonts/stylesheet.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<link rel="stylesheet" type="text/css" href="assets/css/home.css">
	<link rel="stylesheet" type="text/css" href="assets/css/mediaquery.css">
	<link rel="stylesheet" type="text/css" href="assets/css/navbar.css">

</head>
<body>
	<nav class="navbar container-fluid navbar-expand-lg fixed-top">
		<a class="navbar-brand lli" href="#"><img src="assets/img/logo.png" alt="Genero'19"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="true" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
			<ul class="navbar-nav">
				<li class="nav-item">
				   <a class="nav-link nli" href="#">ABOUT US</a>
				</li>
				<li class="nav-item"><a class="nav-link nli" href="#">COLLEGE DISCRIPTION</a></li>
				<li class="nav-item"><a class="nav-link nli" href="#">EVENTS</a></li>
				<li class="nav-item"><a class="nav-link nli" href="#">SPONSERS</a></li>
				<li class="nav-item"><a class="nav-link nli" href="#">CONTACT US</a></li>
			</ul>
		</div>    
	</nav>

	<div class="container-fluid">
		<!-- section1 -->
		<div class="row section1">
			<div class="col-md-7 col-sm-7 sec1a shadow-lg">
				<img class="mob-logo" src="assets/img/logo.png">
				<div class="fb">
					<a class="lli" href="https://www.facebook.com/genero.abesec/?__xts__[0]=68.ARDyCHth62orblbxgqMLw1Wh00Kghtu-8A8dvcS5zTkZH4nyswEkd07dj3u5MDt1pVpR7_qJFOHnlypbZB0o0IPPdVaw7MxnwVIm4NzasD5v90qNP5yyzHgtXuMhQ4c15lucAFWAURDurKj4-SkRtxMRaK2B0hEkEYGSCZ7OJPnC0Q9ueWQKGkIgW6YCCsPWUf6w0o3c4ochlduC13X781PR4Xjw_y-nMDgaY-Tjl26AX2mtMcrSh5QV9E2QhnxMgwCylxCSckcKcA"><img class="facebook" src="assets/img/facebook.png"></a>
				</div>
				<div class="gc">
					<div class="gen19">GENERO'19</div>
					<div class="comicon">COMICON</div>
				</div>
				<div class="insta">
					<a href="https://www.instagram.com/genero.abesec/"><img class="instagram" src="assets/img/instagram.png"></a>
				</div>
				<button type="button" class="mobbtn btn-rounded"><a href="#"><b>REGISTER NOW!</b></a></button>			
				<div class="marvel">
					<img class="marvel-wallpaper" src="assets/img/marvel-wallpaper-avengers.png">
				</div>
			</div>
			<div class="col-md-5 col-sm-5 sec1b">
				<img class="mob-grid-logo" src="assets/img/mob-grid-logo.jpg">
				<img class="scroll-img" src="assets/img/scroll.png">
				<img class="dots" src="assets/img/dots.png">
				<button type="button" class="btn btn-rounded" ><a class="abtn" href="#"><b>REGISTER NOW!</b></a></button>
				<img class="num1 justify-content-end" src="assets/img/01.png">
				<img class="scroll-big justify-content-end" src="assets/img/scroll-big.png">
			</div>
		</div>
	</div>

		<div class="col-lg-12 row thor2" id="cpt123">
			<div class="col-md-6 col-xs-12 text4">
				<h1 class="heading4">ABOUT GENERO</h1>
				<p class="content4">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
				</p>
			</div>
			<div class="col-md-6 col-xs-12 logo4">
				<img class="image2 img-responsive" src="cpt.png">
			</div>
			<div class="number2">
			02
			</div>
			<div class="clippy2"></div>
		</div>

		<div class="col-lg-12 row goku">
            <div class="col-md-6 col-xs-12 logo4">
				<img class="image4 img-responsive" src="Group%20162.png">
			</div>
			<div class="col-md-6 col-xs-12 text4">
				<h1 class="heading4">COLLEGE DESCRIPTION</h1>
				<p class="content4">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
				</p>
			</div>
			<div class="number4">
			03
			</div>
			<div class="clippy4"></div>
		</div>

		<div class="col-lg-12 row thor2">
			<div class="col-md-6 col-xs-12 text4">
				<h1 class="heading4">DEPARTMENT EVENTS</h1>
				<p class="content4">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure 
				</p>
				<button class="explore1">EXPLORE</button>
			</div>
			<div class="col-md-6 col-xs-12">
				<img class="image2 img-responsive" src="thor.png">
			</div>
			<div class="number2">
			04
			</div>
			<div class="clippy2"></div>
		</div>

		<div class="col-lg-12 row sponsers1">
            <div class="col-lg-12 text-right">
                <h1 class="headsponsers1">SPONSERS</h1>
            </div>
            <div class="row logo1">
                <div class="col-lg-3"><img class="img-responsive sp1" src="ola.jpg"></div>
                <div class="col-lg-3"><img class="img-responsive sp1 lp1" src="Aptron.png"></div>
                <div class="col-lg-3"><img class="img-responsive sp1 " src="sopra.png"></div>
                <div class="col-lg-3"><img class="img-responsive sp1 lp1" src="oyo.jpg"></div>
            </div>
            <div class="row col-lg-12 foot1">
                <button class="explore1">EXPLORE</button>
                <div class="number1">05</div>
            </div>
            <div class="col-lg-12 clippy1">
            </div>
        </div>






<!-------footer---------->
		<footer class="page-footer font-small pt-4">
		  <div class="text-center text-md-left">
		  	<div class="row fm">
		  		<div class="col-md-2"></div>
		  		<div class="col-md-8">
		  			<center><img class="blogo" src="black-logo.png"></center>
		  			<h3 class="text-center">CONTACT US</h3>
		  		</div>
		  		<div class="col-md-2"></div>
		  	</div>

		    <div class="row mf">
		      <hr class="clearfix w-100 d-md-none">
		      <div class="col-md-2"></div>
		      <div class="col-md-3 mx-auto">
		      	<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
		        <ul class="list-unstyled">
		          <li>
		            <a class="fli" href="#!">About Us</a>
		          </li>
		          <li>
		            <a class="fli" href="#!">College Discription</a>
		          </li>
		          <li>
		            <a class="fli" href="#!">Events</a>
		          </li>
		          <li>
		            <a class="fli" href="#!">Sponsers</a>
		          </li>
		        </ul>
		      </div>
		 	  <div class="vl"></div>

		      <hr class="clearfix w-100 d-md-none">
		      <div class="col-md-4 mx-auto">
		        <h5 class="font-weight-bold text-center text-uppercase mt-3 mb-4">Get In Touch</h5>
		        <ul class="list-unstyled ll">
		          <li>
		          	<i class="fas fa-map-marker-alt"></i>
		            <a class="fli" href="#!">Abes Engineering college, ghaziabad, Uttar Pradesh</a>
		          </li>
		          <li>
		          	<i class="fas fa-link"></i>
		            <a class="fli" href="#!">https://www.abes.ac.in/</a>
		          </li>
		        </ul>
		      </div>
		      <div class="col-md-2"></div>
		      <hr class="clearfix w-100 d-md-none">
		    </div>
		  </div>
		  <hr>
		  <div class="footer-copyright text-center py-3">
		    Copyright @ 2019- All Right Reserved
		  </div>
		</footer>
	
</body>
</html>
